.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-image {
  width: 286px;
  height: 286px;
  max-width: 100%;
}
.product-data {
  padding: 5px;
}

.product-data-wrapper {
    min-height: 140px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.product-price {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.0015em;
    color: #0e161a;
    margin-bottom: 10px;
  }

.add-to-cart-btn {
  background: #ffe0b3;
  font-size: 15px;
  font-weight: 400;
  padding: 12px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #95a0a7b9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-btn:hover {
  background: orange;
  cursor: pointer;
}

.add-to-cart-btn p {
    margin-right: 10px;
}
