.header {
    min-height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu a {
    color: white;
    margin-left: 20px;
}
.nav-menu a:hover {
    color: rgba(255, 255, 255, 0.623);
    margin-left: 20px;
}

@media screen and (max-width: 1024px) {
    .header {
        min-height: 70px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding: 10px 0;
    }
    .logo {
        margin-bottom: 10px;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .nav-menu a {
        margin-left: 10px;
        margin-right: 10px;
    }
}