@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}
.btn {
  border: none;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  border-radius:5px;
}

.btn:hover {
  cursor: pointer;
}
.rounded-1 {
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 2%;
  }
}

.border {
  border: 1px solid #95a0a7b9;
}

